/* --------------------------------
Agenda
--------------------------------*/

.agenda {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}
.agenda-container{
  background: url('/assets/Agenda/background.png');
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: center;    
  border-radius: 40px;
  border: 1px solid rgb(191, 189, 190);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden
  
  }


.timeline-title {
  width: 50%;
  margin-bottom: 12px;
  align-self: center;
  padding-top: 2rem;
}

.timeline-grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  row-gap: 14px;
  position: relative;
  padding: 20px 0;
}

.timeline-grid::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 50%;
  width: 100%;
  background-image: url('/assets/Agenda/separator.png');
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%);
}

.event {
  width: 100%;
  max-width: 150px;
}

.event.left {
  justify-self: end;
  padding-right: 12px;
}

.event.right {
  justify-self: start;
  padding-left: 12px;
}

.timeline-footer {
  width: 100%;
  margin-top: 16px;
}
