/*--------------------------------
Confirmation
--------------------------------*/

.confirmation {
  background: var(--background-color);
  position: relative;
}


.confirmation-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.8rem;
  padding-top: 10%;
  background-image: url('/assets/Confirmation/background.png');
  background-size: 120;
  background-position: center;
  background-repeat: no-repeat;
   border-radius: 40px;
  border: 1px solid rgb(191, 189, 190);

}

.decor {
  position: absolute;
  bottom: -20px;
  width: 100%;
  max-width: 420px;
  z-index: -8;
}
