.suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
}
.suggestions-container {
  border-radius: 40px;
  border: 1px solid rgb(191, 189, 190);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 2rem;
  background: url('/assets/Suggestions/background.png');
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 430px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 2rem;
}

.title-section{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;

}
.title{
  width: 60%;
}
.suggestions-description-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description{
  width: 80%;
}
.suggestions-decor-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.suggestions-decor-container > img{
  width: 80%;
}
