@font-face {
  font-family: 'Vladimir';
  src: url('/assets/Fonts/VLADIMIR.TTF');
}

.font-vladimir {
  font-family: 'Vladimir';
}

@font-face{
  font-family: 'Source-Serif';
  src: url('/assets/Fonts/SourceSerifPro-Regular.otf');
}

.font-source-serif {
  font-family: 'Source-Serif';
}