@font-face {
  font-family: 'Vladimir';
  src: url('/assets/Fonts/VLADIMIR.TTF');
}

.font-vladimir {
  font-family: 'Vladimir';
}

@font-face{
  font-family: 'Source-Serif-Regular';
  src: url('/assets/Fonts/SourceSerifPro-Regular.otf');
}

.font-source-serif-regular {
  font-family: 'Source-Serif-Regular';
}

@font-face{
  font-family: 'Source-Serif-Black';
  src: url('/assets/Fonts/SourceSerifPro-Black.otf');
}

.font-source-serif-black {
  font-family: 'Source-Serif-Black';
}

@font-face{
  font-family: 'Source-Serif-Light';
  src: url('/assets/Fonts/SourceSerifPro-Light.otf');
}

.font-source-serif-light {
  font-family: 'Source-Serif-Light';
}